<div id="<%= dom_id position %>">
  <p>
    <strong>Bicycle:</strong>
    <%= position.bicycle_id %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= position.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= position.longitude %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= position.address %>
  </p>

</div>
